.stationNode {
    display: flex;
    position: absolute;
    width: 100px;
    height: 100px;
    transform: translate(-50px, -50px);
    border: 15px solid black;
    border-style: solid;
    background-color: rgb(224, 224, 224);
    border-color: rgb(55, 71, 79);
    border-radius: 150px;
    /* color: black; */
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 1;
}



.stationNode:nth-child(2), .stationNode:last-child {
    background-color: rgb(0, 150, 136);
    border-color: rgb(0, 105, 92);
    width: 200px;
    height: 200px;
    transform: translate(-100px, -100px);
    content: '始';
    opacity: 1;
}

.stationNode[data-isTransfer=true] {
    background-color: rgb(30, 136, 229);
    border-color: rgb(21, 101, 192);
    width: 200px;
    height: 200px;
    transform: translate(-100px, -100px);
    opacity: 1;
}