.main{
  max-height: 100vh;
  display: flex;
}
.toplevel{
  height: 100vh;
  /* width: 30vw; */
  padding: 1em;
  overflow-y: auto;
  border-right: 2px solid rgba(128, 128, 128, 0.425);
  z-index: 100;
}

.toplevel>*, .formControl>*{
  margin-bottom: 10px;
}

.canvasPane{
  height: 100vh;
}

.goButton{
  width: 100%;
}

.rightPane{
  position: relative;
}

.toplevel::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #fff;
}

.toplevel::-webkit-scrollbar-thumb {
  background-color: rgb(33, 150, 243);
  border-radius: 5px 0 0 5px;
}

.mask{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10010;
  background-color: rgba(255, 255, 255, 0.634);
  backdrop-filter: blur(15px);
}

/* Dark Mode Specific Styles */
@media screen and (prefers-color-scheme: dark) {
  .toplevel::-webkit-scrollbar {
    background-color: #1e1e1e;
  }

  .toplevel::-webkit-scrollbar-thumb {
    background-color: rgb(97, 97, 97);
  }
  .mask{
    background-color: rgba(0, 0, 0, 0.634);
  }
}